body {
	background:#f1e4d6;
	background: -moz-linear-gradient(top,  #990066 0%, #f1653d 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#990066), color-stop(100%,#f1653d));
	background:-webkit-linear-gradient(top,  #990066 0%,#f1653d 100%);
	background:-o-linear-gradient(top,  #990066 0%,#f1653d 100%);
	background:  -ms-linear-gradient(top,  #990066 0%,#f1653d 100%);
	background:linear-gradient(to bottom,  #990066 0%,#f1653d 100%); 
	padding: 0px;
	margin: 0px;
	overflow:hidden;
}
#MIA_header {
	background: #000 url("http://www.artsmia.org/UserFiles/Image/MIA_web_header.jpg") top left no-repeat;
	/*position:absolute;*/
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	height: 46px;
	width: 100%;
	position:absolute;
	z-index: 1001;
}
#container {
	padding: 0px;
	margin: 0px;
}
#header {
	margin-top:46px;
	height: 300px;
	max-height: 300px;
	width: 100%;
	background-color:#fff;
	/*
	background: #990066; 
	background: -moz-linear-gradient(left,  #990066 0%, #f1653d 30%, #f1653d 70%, #990066 100%); 
	background: -webkit-linear-gradient(left,  #990066 0%,#f1653d 30%,#f1653d 70%,#990066 100%); 
	background: -o-linear-gradient(left,  #990066 0%,#f1653d 30%,#f1653d 70%,#990066 100%); 
	background: -ms-linear-gradient(left,  #990066 0%,#f1653d 30%,#f1653d 70%,#990066 100%); 
	background: linear-gradient(to right,  #990066 0%,#f1653d 30%,#f1653d 70%,#990066 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990066', endColorstr='#990066',GradientType=1 );  
	*/
	overflow:hidden;
}
#header_img_wrap{
	position:absolute;
	top:46px;
	width:100%;
}
#header_img{
	display:block;
	margin:auto;
}
#nav_wrap {
	position:relative;
	height:50px;
}
#nav {
	height:50px;
	background-color:#990066;
	position:absolute;
	width:100%;
}
#nav p {
	font-family: "lobster", "lucida Handwriting", "mistral", serif;
	font-size: 24px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #906;
	margin-bottom: 15px;
	color: #555;
}
#nav ul {
	text-align:center;
}
#nav ul li {
	display:inline-block;
	padding:15px 30px;
	border-right:1px solid #992277;
	margin:0px;
	transition:all ease-in-out .3s;
}
#nav ul li:last-child {
	border-right:none;
}
#nav ul li:hover {
/*	background-color:#e0569f; */
	background-color:#f1653d;
	cursor:pointer;
}
#nav ul li a {
	font-family: "Museo", serif;
	font-size: 18px;
	color: #fff;
	font-weight:300;
}
#wrainbow_wroad_wrap {
	position:relative;
	height:7px;
}
#rainbow_road {
	width: 100%;
	height: 7px;
	background: #fff url('../images/rainbow_road.gif') repeat-x;
	position:absolute;
}
.content-wrap {
	margin: 30px;
}
.title_block {
	padding-bottom:15px;
	border-bottom:1px dotted #fff;
	margin-bottom:15px;
}
.title_mia {
	font-family: "Museo", serif;
	font-size:24px;
	padding-bottom:0px;
}
h1 {
	font-family: "lobster", "lucida Handwriting", "mistral", serif;
	font-size: 64px;
	text-indent:20px;
	color:#fff;
	font-weight:normal;
}
p {
	font-family:"Museo", serif;
	font-size:13px;
	font-weight:500;
	color:#fff;
	margin-top:15px;
}
h4 {
	font-family: "Museo", serif;
	font-size:18px;
	font-weight:700;
	color:#fff;
	padding-bottom:15px;
	border-bottom:1px dotted #fff;
	margin-bottom:15px;
}
h6 {
	font-family: "Museo", serif;
	font-size:16px;
	font-weight:300;
	color:#fff;
	line-height:24px;
}
.sixcol {
	background-color:#990066;
	border-radius:15px;
	margin-top:30px;
	transition:background-color ease-in-out .3s;
	cursor:pointer;
}
.sixcol:hover {
	background-color:#f1653d;
}
ul{
	list-style:outside;
	margin-left:20px;
}
li{
	font-style:italic;
	color:#fff;
}


/****************************************************************************************** FLOATING PEARLS **********/

.pearl {
    width: 60px;
    height: 60px;
    background:url('../images/pearl.png') center center no-repeat;
	 background-size:contain;
    position: absolute;
}
.x1 {
	left:100px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation: moveclouds 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x2 {
    left:250px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: moveclouds 12s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 12s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 12s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left:300px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-animation: moveclouds 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 450px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 600px;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-animation: moveclouds 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
}
.x6 {
    left: 750px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation: moveclouds 11s linear infinite, sideWays 6s ease-in-out infinite alternate;
    -moz-animation: moveclouds 11s linear infinite, sideWays 6s ease-in-out infinite alternate;
    -o-animation: moveclouds 11s linear infinite, sideWays 6s ease-in-out infinite alternate;
}
.x7 {
	left:900px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation: moveclouds 15s linear infinite, sideWays 9s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 9s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 9s ease-in-out infinite alternate;
}
.x8 {
	left:1050px;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    -webkit-animation: moveclouds 12s linear infinite, sideWays 7s ease-in-out infinite alternate;
    -moz-animation: moveclouds 12s linear infinite, sideWays 7s ease-in-out infinite alternate;
    -o-animation: moveclouds 12s linear infinite, sideWays 7s ease-in-out infinite alternate;
}
.x9 {
	left:1200px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation: moveclouds 18s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x10 {
	left:1350px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-animation: moveclouds 16s linear infinite, sideWays 8s ease-in-out infinite alternate;
    -moz-animation: moveclouds 16s linear infinite, sideWays 8s ease-in-out infinite alternate;
    -o-animation: moveclouds 16s linear infinite, sideWays 8s ease-in-out infinite alternate;
}
.x11 {
	left:1500px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-animation: moveclouds 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 14s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x12 {
	left:1650px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation: moveclouds 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 3s ease-in-out infinite alternate;
}


@-webkit-keyframes moveclouds { 
    0% { 
        top: 350px;
    }
    100% { 
        top: -100px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:25px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 350px;
    }

    100% { 
        top: -100px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:25px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 350px;
    }
    100% { 
        top: -100px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:25px;
    }
}